body{
    padding: 0.2%;
    margin: 1%;
    font-size: large;
}
button{
    padding: 0.3%;
    font-size: large;
}
.activ{
    width: 125%;
}
.bcgrnd{
    background-color: aqua;
    overflow: hidden;
    display: flex;
    float: left;
    width: 1500px;
}
div{
    border: 1px solid white;
}
#search{
    padding: 0.2%;
    margin: 1%;
    width: 25%;
    /* position: absolute;
    left: 36.5%; */
}
#footer{
    position: absolute;
    top:55%;
    left: 25%;
}